<h2>Picture一覧画面</h2>
<table>
    <tr>
        <th>Content</th>
        <th>Image</th>
    </tr>
    
    <% @pictures.each do |picture| %>
    
    <tr>
        <td><%= picture.content %></td>
        <td><%= picture.image %></td>
        <td><%= link_to 'pictureを詳細する',picture_path(picture.id) %></td>
        <td><%= link_to 'pictureを編集する',edit_picture_path(picture.id) %></td>
        <td><%= link_to 'pictureを削除する',picture_path(picture.id),data: {turbo_method: :delete,turbo_confirm: "Are you sure?"} %></td>
    </tr>
    <% end %>
</table>
<%= link_to 'Pictureを投稿する',new_picture_path %>
