<!DOCTYPE html>
<html>
  <head>
    <title>Assignment5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <% if logged_in? %>
        <%= link_to 'Profile',user_path(current_user.id) %>
        <%= link_to 'Logout',session_path(current_user.id),data: {turbo_method: :delete} %>
    <% else %>
        <%= link_to 'Sign up',new_user_path %></button>
        <%= link_to 'Login',new_session_path %>
    <% end %>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
  <% flash.each do |key,value| %>
   <%= content_tag(:div,value,class: "#{key}") %>
  <% end %>

    <%= yield %>
  </body>
</html>
